

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/deep/ .ant-list-item-meta-title   {
  a {
    color: #1890ff;
  }
  a:hover {
    color: #40a9ff;
}
}
  .title {
    font-family:
      'Quicksand',
      'Source Sans Pro',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
  }
  
  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }
  
  .links {
    padding-top: 15px;
  }
  .content   /deep/   {
    @media (max-width: 992px) {
      width: 100%;
      margin: 0;
    }
    @media (min-width: 992px){ 
      width: 85%;
      margin-right: auto;
      margin-left: auto;
    }
    padding: 20px 15px;
      
 
      // background: #fff;
  .img-a{
    display: block;
    overflow: hidden;
        img {
          max-height: 175px; 
    }
  }
  .content-left {
    background: #fff;
    padding: 20px 15px;
  }
  @media screen and (max-width: 992px) {
    .content-right {
      padding: 20px 0;
    }
  }

 .post-summary {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-all;
 }
    .category-tag {
      display: inline-block;
      min-width: 50px;
      padding: 0 10px;
      position: relative;
      left: 10px;
      top: 30px;
      z-index: 1;
      color: #fff;
      background-color: rgba(0,0,0,.6);
      border-radius: 2px;
      font-size: 12px;
      line-height: 22px;
  }
      @media screen and (max-width: 576px) {
       .img-a {
          width: 100%;
            img {
              width: 100%;
            }
        }
    
    }
  }
  


